:root {
    --bg-color: #120a2a;
    --neon-pink: #ff0055;
    --neon-blue: #00ffff;
    --text-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: var(--bg-color);
    color: var(--text-color);
    /* Fond grille rétro */
    background-image:
        linear-gradient(rgba(0, 255, 255, 0.1) 2px, transparent 2px),
        linear-gradient(90deg, rgba(0, 255, 255, 0.1) 2px, transparent 2px);
    background-size: 40px 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 80px;
    margin-bottom: 60px;
}

.main-title {
    font-size: 2.5rem;
    text-shadow: 4px 4px var(--neon-pink), -4px -4px var(--neon-blue);
    letter-spacing: 5px;
    text-align: center;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 20px;
}

.category-card {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.category-card:hover {
    transform: scale(1.1); /* L'icône grossit quand on passe dessus */
}

.category-title {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--neon-blue);
    text-align: center;
}

.music-card:hover .category-title {
    color: var(--neon-pink);
}

.icon-container {
    width: 150px; /* Ajuste la taille selon tes images */
    height: 150px;
}

.retro-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 15px rgba(0,255,255,0.3));
}

/* Animations de mouvement */
.spin-slow {
    animation: spin 12s linear infinite;
}

.box-bounce {
    animation: bounce 3s ease-in-out infinite;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}